# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Pre-release

on:
  push:
    branches: [ "main" ]
permissions:
  contents: write
  id-token: write
jobs:
  workflow:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v4
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.19.0
    - name: Install dependencies
      run: flutter pub get
    - name: Run unit tests
      run: flutter test
    - name: Pub check
      run: flutter pub publish --dry-run
    - name: Create git tag
      run: git tag v$(yq '.version' ./pubspec.yaml) && git push origin v$(yq '.version' ./pubspec.yaml)
    - name: Publish package
      run: flutter pub publish